@charset "utf-8";


.my-color{
	color: #7D97F4;
}
.my-btn{
	background-color: #7D97F4;
	color: #fff;
}

.my-btn:hover{
	color: #7D97F4 !important;
	background-color: #fff;
	border: 1px solid #7D97F4;
}
.hover:hover{
	cursor: pointer;
}
